<html>
  <head>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div><%= pageHeader %></div>
    <form action="/form" method="post">
      <input type="text" name="message"/>
      <button>Submit</button>
    </form>
  </body>
</html>